* {
 margin: 0;
 box-sizing: border-box;
}

html {
    /* background: #F3DBCE; */
    /* background-image: url(/static/images/coffee_shop.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* width: 1000px; */
    /* background-color: #CED4DA; */
    background-color: #ADB5BD;
}

.title {
    text-align: center;
    font-size: 200%;
    padding: 20px;
    color: #ADB5BD;
    font-weight: bold;
}

.sidebar-nav {
    padding-top: 20px;
    list-style: none;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #495057;
    overflow: hidden;
}

.sidebar-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #DEE2E6;
    display: block;
}

.sidebar-nav a:hover {
    color: #ADB5BD
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    padding: 0px 10px;
}

.note-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px 15px 5px;
    margin: 5px;
    width: 300px;
    background-color: darkseagreen;
    opacity: .9;
}

.note-title-content {

}

.note-title {
    padding: 5px 10px 5px;
    color: #343A40;
}

.note-content {
    padding: 10px 10px 15px;
    font-size: 14px;
    color: #343A40;
}

.note-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.action-buttons {
    color: #343A40;;
    font-family: georgia, serif
}

.date-stamp {
    color: #343A40;
    font-size: 12px;
}